* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Georgia, 'Times New Roman', Times, serif;
}

.barra {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #222;
color: white;
padding: 10px 20px;
}

.logo {
display: flex;
align-items: center;
gap: 10px;
}

.logo img {
width: 40px;
height: 40px;
}

.opcion{
list-style: none;
display: flex;
gap: 20px;
}

.opcion li a {
    display: flex(10px);
text-decoration: none;
color: white;
font-weight: bold;
}


@media (max-width: 768px) {
.opcion {
display: none;
flex-direction: column;
background-color: #222;
position: absolute;
top: 60px;
right: 20px;
width: 150px;
padding: 10px;
}

.opcion.active {
display: flex;
}
}
